var formatSize = function (value) {
  if (!value) return value;
  if (typeof value === 'number') return value + 'rpx';
  if (!value.trim()) return value;
  var regExp = getRegExp("(px|rpx|%|rem|em)$");
  return value.search(regExp) === -1 ? value + 'rpx' : value;
}
module.exports = {
  formatSize: formatSize,
}